



/*loader*/
.lds-circle {
  display: inline-block;
  width: 71px;
  height: 71px;
  margin: 6px;
  position: absolute;
    right: 50%;
    top: 40%;
  border-radius: 50%;
  background: #0000002e;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}


/*loader end here*/



@media screen and (max-width: 575px) {
  
  .form-control {
   margin-top: 1vh;
  }
}